@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background-color: rgb(246, 136, 67);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    
}
.header-container{
    background-color: rgb(251, 242, 230);
    padding: 50px 150px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 700px;
    font-size: 2.5rem;
    color: black;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-left : 50px;
    font-weight: 500px;
    font-size: 1.25rem;
    
}
nav li a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}
.banner-title{
    font-weight: 700px;
    font-size: 3.5rem;

}
.banner-description{
    font-weight: 500px;
    font-size: 14px;
    color: rgb(76, 76, 76);
}

.banner img{
    /* max-width: 800px; */
    /* padding:30px 150px ; */
    width: 100%;
    margin: 0 auto;
}


/* main section  */
main{
    margin: 50px 150px;
}

/* Featcher section  */
.Features-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* margin: 50px 150px; */
    /* border: 2px solid darkblue; */
    gap: 50px;
    /* justify-content: center; */
}


.Features-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px;
    border-radius: 15px;
    margin-left: 30px;
    
}
.Features-img img{
    width: 100%;
    /* border: 1px solid darkcyan; */
}
.Features-banner{
    padding-right: 50px;
    /* border: 1px solid blue; */
    font-weight: 500px;
    font-size: 14px;
    color: rgb(76, 76, 76);
}
.Features-banner-title{
    color: rgb(108, 107, 107);
    font-weight: 700px;
    font-size: 2rem;
    /* padding-bottom: 0px; */
}

 /* Features-description-section */
 .Features-description-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    gap: 50px;
    /* align-items: center; */
 }
.architecht-description img{
    width: 100%;
}

 .description-title{
    font-weight: 700px;
    font-size: 2.5rem;
    color: black;
 }
.description-p{
    font-weight: 500px;
    font-size: 14px;
    color: rgb(76, 76, 76);
}
.div{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px whitesmoke; 
    margin-bottom: 20px;
}
.version-div{
    font-weight: 500px;
    font-size: 12px;
    color: rgb(76, 76, 76);
}

.architecht-description button{
    position: relative;
    bottom: 70px;
    margin-left: -30px;
    
}
.btn-10year{
    font-weight: 700px;
    font-size: 3rem;

}
/* sponsor section  */
.sponsor-section{
    text-align: center;
}
.sponsor-title{
    font-weight: 700px;
    font-size: 2.5rem;
    color: black;
}
.sponsor-description{
    padding-top: 0;
    margin-top: 0;
    font-weight: 500px;
    font-size: 12px;
    color: rgb(76, 76, 76);
}
.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

}
.sponsor-img img{
    width: 160px;
}



footer{
    background-color: rgb(251, 242, 230);
    padding: 30px ;
    margin: 50px 150px;
    text-align: center;
    font-size: 12px;
}